// =====================================================
// color
// =====================================================
$beige_color: #fff9f0;
$brown_color: #4e413a;
$lightbrown_color: #c28e44;
$gray_color: #979797;
$lightgray_color: #d7d7d7;
$pink_color: #f5d4ca;
$red_color: #ff245c;
$white_color: #fff;

$primary_color: $brown_color;
$base_color: $beige_color;
// =====================================================
// fonts
// =====================================================
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
// =====================================================
// size
// =====================================================
$header_top_width: 90%;
$header_bottom_width: 75%;
// =====================================================
// mixin
// =====================================================
@mixin link_color_base() {
  a:link { color: $base_color; }
  a:visited { color: $base_color; }
  a:hover { color: $lightbrown_color; }
  a:active { color: $lightbrown_color; }
}
@mixin link_color_primary() {
  a:link { color: $primary_color; }
  a:visited { color: $primary_color; }
  a:hover { color: $lightbrown_color; }
  a:active { color: $lightbrown_color; }
}
// =====================================================
// scss
// =====================================================
@import "_reset";
@import "partials/forms";
@import "partials/header";
