.header {
  &__top_wrap {
    background: $primary_color;
    color: $base_color;
    padding: 14px 0;
  }
  &__top_box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: $header_top_width;
  }
  &__bottom_wrap {
    align-items: center;
    background: $base_color;
    color: $primary_color;
    padding: 26px 0;
  }
  &__bottom_box {
    margin: 0 auto;
    width: $header_bottom_width;
  }
  &__logo__wrap {
    align-items: center;
    display: flex;
    img {
      margin-right: 14px;
    }
    p {
      white-space: nowrap;
    }
    a {
      text-decoration: none;
    }
    @include link_color_base();
  }
  &__list {
    display: flex;
    li {
      margin-right: 26px;
    }
    span {
      align-items: center;
      display: flex;
      img {
        margin-right: 6px;
      }
    }
    a { text-decoration: none;}
    @include link_color_base();
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.2rem;
    a {
      align-items: center;
      display: flex;
      text-decoration: none;
    }
    @include link_color_primary();
  }
  &__nav__item {
    margin-right: 4px;
  }
  &__searchbox__wrap {
    position: relative;
    input[type="search"] {
      background: rgba(255, 255, 255, 0.1);
      color: $base_color;
      padding: 4px 6px;
      position: relative;
      width: 208px;
    }
    &::after {
      content: "";
      background-image: url(/img/search.svg);
      background-size: contain;
      top: 6px;
      right: 8px;
      position: absolute;
      vertical-align: middle;
      height: 16px;
      width: 16px;
    }
  }
}
