@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1rem; }

ul {
  list-style: none;
  -webkit-padding-start: 0;
  padding-start: 0;
  -webkit-padding-end: 0;
  padding-end: 0;
  margin: 0; }

input {
  border: none;
  -webkit-appearance: none; }

.header__top_wrap {
  background: #4e413a;
  color: #fff9f0;
  padding: 14px 0; }

.header__top_box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%; }

.header__bottom_wrap {
  align-items: center;
  background: #fff9f0;
  color: #4e413a;
  padding: 26px 0; }

.header__bottom_box {
  margin: 0 auto;
  width: 75%; }

.header__logo__wrap {
  align-items: center;
  display: flex; }
  .header__logo__wrap img {
    margin-right: 14px; }
  .header__logo__wrap p {
    white-space: nowrap; }
  .header__logo__wrap a {
    text-decoration: none; }
  .header__logo__wrap a:link {
    color: #fff9f0; }
  .header__logo__wrap a:visited {
    color: #fff9f0; }
  .header__logo__wrap a:hover {
    color: #c28e44; }
  .header__logo__wrap a:active {
    color: #c28e44; }

.header__list {
  display: flex; }
  .header__list li {
    margin-right: 26px; }
  .header__list span {
    align-items: center;
    display: flex; }
    .header__list span img {
      margin-right: 6px; }
  .header__list a {
    text-decoration: none; }
  .header__list a:link {
    color: #fff9f0; }
  .header__list a:visited {
    color: #fff9f0; }
  .header__list a:hover {
    color: #c28e44; }
  .header__list a:active {
    color: #c28e44; }

.header__nav {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.2rem; }
  .header__nav a {
    align-items: center;
    display: flex;
    text-decoration: none; }
  .header__nav a:link {
    color: #4e413a; }
  .header__nav a:visited {
    color: #4e413a; }
  .header__nav a:hover {
    color: #c28e44; }
  .header__nav a:active {
    color: #c28e44; }

.header__nav__item {
  margin-right: 4px; }

.header__searchbox__wrap {
  position: relative; }
  .header__searchbox__wrap input[type="search"] {
    background: rgba(255, 255, 255, 0.1);
    color: #fff9f0;
    padding: 4px 6px;
    position: relative;
    width: 208px; }
  .header__searchbox__wrap::after {
    content: "";
    background-image: url(/img/search.svg);
    background-size: contain;
    top: 6px;
    right: 8px;
    position: absolute;
    vertical-align: middle;
    height: 16px;
    width: 16px; }
