@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif; }

ul {
  list-style: none; }

.nav_top__wrap {
  background: #4e413a;
  color: #fff9f0; }

.nav_bottom__wrap {
  background: #fff9f0;
  color: #4e413a; }
